* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;    
    color: white;
}

body {
    padding: 1em;
    display: grid;
}

header {
    padding: 1em;
    text-align: center;
}

main{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.button {
    margin: 1em;
}

button {
    background-color:violet;
    color: black;
    outline: 1px inset white;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.footer {
    display: flex;
    justify-content: center;
}

.game-container {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    text-align: center;
}

.game-grid {
    display:grid;
    border-bottom: 3px solid goldenrod;
    border-left: 3px solid goldenrod;
    align-items: center;
    justify-content: center;
}

.game-container > :nth-child(1), .game-container > :nth-child(4), .game-container > :nth-child(7)  {
    border-left: none;
}

.game-container > :nth-child(n+7) {
    border-bottom: none;
}